.signUp-form {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgb(132, 150, 85);
    margin-top:10%;
    border-radius: 50px;
    border: 2px solid black;
}


